/* You can add global styles to this file, and also import other style files */
// 整个应用的全局样式
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, app-root, md-sidenav-container, .site {
    width: 100%;
    height: 100%;
    margin: 0;
}

.site {
    display: flex;
    flex-direction: column;     // 容器内的元素（只对直接子元素）纵向排列，按列排
}

main {
    flex: 1;    // 使撑满剩余空间,相当于flex: 1 0 auto;
    // flex: 1 0 auto;      // 是否能放大，放大几倍；是否能缩小；基线的宽度和高度是多少
}

.full-width {
    width: 100%;
}

.fill-remaining-space {
    // 使用flexbox填充剩余空间
    // @angular/material 中的很多空间使用了 flex 布局
    flex: 1 1 auto;
}